body {
  width: 90%;
  margin: 0 auto 0 auto;
  border: 1px solid gray; /* Temporary just to show edge of content */
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.nav--ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav--ul li {
  padding: 0 0 0 10px;
}

.nav--ul:last-child {
  padding: 0 20px 0 0;
}

.nav--ul li a {
  text-decoration: none;
}