* {
  /*  global reset  */
  box-sizing: border-box;
}
html {
  background-color: #900000;
}

body {
  max-width: 980px;  /* changed from width: 90%; */
  margin: 0 auto;
  border: 1px solid gray; /* Temporary to show main content area */
  background-color: white;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  font-size: 2em;
}

.navbar img {
  height: 100px;
  width: 200px;
  margin: 0 0 0 50px;
}

.nav--ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav--ul li {
  padding: 0 0 0 40px;
}

.nav--ul:last-child {
  padding: 0 20px 0 0;
}

.nav--ul li a {
  text-decoration: none;
  color: white;
}

/* Footer and Social media icons */
footer {
  background-color: black;
  color: white;
}

.socialMedia {
  display: flex;
  list-style-type: none;
  flex-basis: 25%;
  justify-content: center;
}

footer > p {
  margin-left: auto;
  margin-right: auto;
  width: 425px;
  padding-bottom: 5px;
}

.socialMediaIcons {
  height: 50px;
  width: 50px;
  flex-direction: row;
  flex-basis: 25%;
  margin: 5px;
}