* {
  /*  global reset  */
  box-sizing: border-box;
}

body {
  max-width: 980px;  /* changed from width: 90%; */
  margin: 0 auto;
  border: 1px solid gray; /* Temporary to show main content area */
}