* {
  /*  global reset  */
  box-sizing: border-box;
}

body {
  max-width: 980px;  /* changed from width: 90%; */
  margin: 0 auto;
  border: 1px solid gray; /* Temporary to show main content area */
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.nav--ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav--ul li {
  padding: 0 0 0 10px;
}

.nav--ul:last-child {
  padding: 0 20px 0 0;
}

.nav--ul li a {
  text-decoration: none;
}

/* Footer and Social media icons */
footer {
  background-color: black;
  color: white;
}

.socialMedia {
  display: flex;
  list-style-type: none;
  flex-basis: 25%;
  justify-content: center;
}

footer > p {
  margin-left: auto;
  margin-right: auto;
  width: 425px;
  padding-bottom: 5px;
}

.socialMediaIcons {
  height: 50px;
  width: 50px;
  flex-direction: row;
  flex-basis: 25%;
  margin: 5px;