h1 {
  padding: 20px 0 0 0;
}

.personal-life {
  text-align: center;
  /* remove when global body color is added */
  background-color: #400000;
  color: lightgray;
}

.personal-life a {
  color: lightgray;
}

.personal-life ul {
  list-style: none;
}

.personal-stats {
  margin: 40px 0;
  background-color: #800000;
  padding: 20px 0;
}

.personal-family {
  margin: 40px 0;
  background-color: #800000;
  padding: 20px 0;
}

.wives {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.wives-gallery {
  flex-basis: 33%;
}

.wives img {
  width: 200px;
  height: 200px;
  border: 1px solid lightgray;
}

.children {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.children-gallery {
  flex-basis: 15%;
}

.children img {
  width: 120px;
  height: 120px;
  border: 1px solid lightgray;
}

