/* horizontal rule styling */

hr {
  margin-bottom: 20px;
  width: 20%;
  display:block;
  border:none;
  color:white;
  height:1px;
  background:white;
  background: -webkit-gradient(radial, 50% 50%, 350, 50% 50%, 0, from(#000), to(lightgray));
}

/* h1 styling */

h1 {
  padding: 20px 0 0 0;
}

h2 {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  width: 500px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 40px;
}

h3 {
  text-decoration: underline;
}

/* main div */

img {
  border: 2px solid black;
}

.personal-life {
  text-align: center;
  background-color: white;
}

.personal-life a {

}

.personal-life ul {
  list-style: none;
}

/* life facts section */

.personal-stats {
  /* margin: 40px 0; */
  background-color: white;
  padding: 20px 0;
}

/* overall family section */

.personal-family {
  /* margin: 0 0 40px 0; */
  background-color: white;
  /* padding: 20px 0; */
}

/* wives section */

.section-wives {
  margin: 30px 10px 40px 10px;
}

.wives {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.wives-gallery {
  flex-basis: 33%;
}

.wives img {
  width: 200px;
  height: 200px;
}

/* children section */

.section-children {
  margin: 20px 10px 20px 10px;
}

.children {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.children-gallery {
  flex-basis: 15%;
}

.children img {
  width: 120px;
  height: 120px;
}

