
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.extrasMainContent__section--resources p {
  text-align: center;
}

.extrasMainContent a {
  text-decoration: none;
}

.extrasMainContent a:visited {
  color: black;
}

.extrasMainContent__img {
  max-width: 200px;
}

/* Section Flex Container */
.extrasMainContent__cardgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Section Flex Item */
.extrasMainContent__card {
  flex-basis: 20%;
  padding: 1em;
  margin-top: 1em;
}





