
/* .extrasMainContent {

}

.extrasMainContent__section--resources {

} */

.extrasMainContent__img {
  max-width: 200px;
  border: 1px solid green;
}

.extrasMainContent__cardgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
}

.extrasMainContent__card {
  border: 1px solid orange;
  flex-basis: 20%;
  padding: 1em;
  margin-top: 1em;
}

.extrasMainContent__img {
  max-width: 200px;
  border: 1px solid green;
}


